body {
    color: $font_color;
    padding: 0;
    margin: 0;

    font: {
        size: $font_size;
        family: $font_family;
    }

    ul {
        list-style: none;
    }

}

.main {
    padding: 20px;

    h1 {
        font-size: 12px;
    }

   
    .container {
        
        width: 100%;

        //과제 1
        .content-1 {

            ul {
                width: 660px;
                overflow: hidden;
                padding: 0px;
                
            }

            li {
                float: left;
            }

            //첫번째 카드
            .card {
                width: 200px;
                margin-right: 20px;
                border:1px solid #e1dcdc;
                background-color: #f8f9fb;

                figure {
                    margin: 0px;

                    img {
                        display: block;
                        width: 100%;
                        height: 180px;
                    }
                    
                    figcaption {
                        padding: 10px;
                    }
    
                    em {
                        display: block;
                        padding-bottom: 5px;
                        overflow: hidden;
                        color: #acabac;
                        font-size: 11px;
                        font-style: initial;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
    
                    strong {
                        display: -webkit-box;
                        height: 25px;
                        padding-bottom: 5px;
                        overflow: hidden;
                        color: #424242;
                        font-size: 12px;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
    
                    mark {
                        padding-right: 7px;
                        background-color:#f8f9fb;
                        color: #da625f;
                        font-size: 12px;
                    }
    
                    del {
                        color: #cbcccc;
                        font-size: 11px;
                    }
    
                }

                .rating-box {
                    height: 45px;
                    padding: 5px;
                    border-top:1px solid #e1dcdc;
                    
                    .rating {
                        float: left;

                        &:not(:checked) {
                            
                            &> input {
                                position: absolute;
                                top: -9999px;
                            }
                      
                            &> label {
                                float: right;
                                width: 15px;
                                padding: 0 1px;
                                overflow: hidden;
                                white-space: nowrap;
                                cursor: pointer;
                                font-size: 30px;
                                line-height: 0.7;
                                color: #ddd;
                            }
                      
                            &> label:hover, label:hover ~ label {
                                color: gold;
                            }
                      
                        }
                      
                      
                        &> input:checked ~ label {
                            color: gold;
                        }
                      
                        &> label:active {
                          position: relative;
                          top: 2px;
                          left: 2px;
                        }
                        
                        &:after {
                           display: block;
                           content: "";
                           clear: both;
                        }
                        
                    }

                    p {
                        float: left;
                        width: 146px;
                        margin: 5px 0px 0px 5px;
                        overflow: hidden;
                        font-size: 11px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    @include tab{
                        height: 35px;
                        padding-top: 15px; 

                        p {
                            display: none;
                        }
                    }

                }

                @include mob {
                    .rating-box  {
                        display: none;
                    }
                }
                
            }
            
            //두번째 카드
            .card-row {
                width: 430px;
                height: 180px;
                border:1px solid #e1dcdc;
                background-color: #f8f9fb;

                img {
                    float: left;
                    width: 200px;
                    height: 180px;
                }
                
            
                strong {
                    display: block;
                    width: 187px;
                    overflow: hidden;
                    font-size: 13px;
                    font-style: initial;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-family: unset;
                    font-weight: 900;
                    letter-spacing: -0.8px;
                }

                p {
                    display: -webkit-box;
                    height: 54px;
                    padding: 0px;
                    margin: 15px 0px;
                    overflow: hidden;
                    color: #9e9e9f;
                    font-size: 13px;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    line-height: 1.5;
                }

                .cotnent-box {
                    display: inline-block;
                    width: 164px;
                    padding: 18px;
                }

                .rating-box {
                    padding-top: 25px;
                    
                    .rating {
                        float: left;
                        padding-right: 10px;

                        &:not(:checked) {
                            
                            &> input {
                                position: absolute;
                                top: -9999px;
                            }
                      
                            &> label {
                                float: right;
                                width: 15px;
                                padding: 0 1px;
                                overflow: hidden;
                                white-space: nowrap;
                                cursor: pointer;
                                font-size: 30px;
                                line-height: 0.7;
                                color: #ddd;
                            }
                      
                            &> label:hover, label:hover ~ label {
                                color: gold;
                            }
                      
                        }
                      
                      
                        &> input:checked ~ label {
                            color: gold;
                        }
                      
                        &> label:active {
                          position: relative;
                          top: 2px;
                          left: 2px;
                        }
                        
                        &:after {
                           display: block;
                           content: "";
                           clear: both;
                        }
                        
                    }

                    span {
                        display: inline-block;
                        position: relative;
                        height: 26px;
                        padding-left: 10px;
                        color: #c2c3c3;
                        font-size: 12px;
                        line-height: 26px;

                        &::before {
                            position: absolute;
                            top: 11px;
                            left: 0;
                            width: 1px;
                            height: 11px;
                            margin-top: -4px;
                            background: #c2c3c3;
                            content: "";
                        }
                    }

                }

                @include mob-mid {
                    width: 100%;
                    height: 97px;

                    img {
                        width: 100px;
                        height: 97px;
                    }

                    .cotnent-box {
                        width: 60%;
                        padding: 5px;
                    }

                    strong {
                        width: 100%;
                        font-size: 5px;
                    }

                    p {
                        margin: 0px;
                    }

                    .rating-box {
                        padding-top: 0px;
                    }
                }
            }

            @include tab {
                ul {
                    width: 100%;
                    padding: 0px;
                }

                li {
                    margin-bottom: 10px;
                }
            }
              
        }

        //과제 2
        .content-2 {
            textarea {
                display: block;
                width: 100%;
                height: 50px;
                padding-right: 30px;
                margin-bottom: 10px;
                resize: none; 
            }

            form {
                width:40%;
            }
            
            .area {
                position: relative;

                .number {
                    
                    position: absolute;
                    bottom: 3px;
                    right: -30px;
                    width: 30px;
                    border: none;
                    text-align: center;
                    color: gainsboro;
                }
            }

            .button {
                display: none;
                position: absolute;
                height: 56px;
                width: 60px;
                top: 0px;
                right: -100px;
                border: 1px solid steelblue;
                background-color: #fff;
               
            }

            @include tab {
                form {
                    width:70%;
                }

            }

            @include mob {
                .button {
                    width: 38px;
                    right: -74px;
                    font-size: 10px;
                }
            }
        }
    }

    @include mob {
        padding: 1%;
    }

}


